.dropdown {
  position: relative;
}

.dropdown select {
  display: none;
}

.dropdown-selected-Item {
  border-radius: var(--border-radius-default);
  padding: 10px;
  font-size: var(--fontsize-default);
  background-color: var(--color-second);
  transition: var(--transition-default);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-font);
}

.dropdown-selected-Item:after {
  background-color: transparent;
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color-font) transparent transparent transparent;
  transition: var(--transition-default);
}

.dropdown-selected-item-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-selected-Item.dropdown-selected-item-active:after {
  border-color: transparent transparent var(--color-highlight) transparent;
  top: 8px;
  /* transform: rotate(180deg) matrix(1, 0, 0, 1, 0, 6); */
}

.dropdown-item-list {
  position: absolute;
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
  font-size: var(--fontsize-default);
  color: var(--color-font);
  background-color: var(--color-second);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  transition: var(--transition-default);
  max-height: 0;
}

.dropdown-item-list-active {
  max-height: 280px;
  overflow-y: scroll;
}

.dropdown-item-list-active .dropdown-item{
  opacity: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: var(--transition-default);
  opacity: 0;
  transition: var(--transition-default);
}

.dropdown-item:hover {
  background-color: var(--color-highlight);
  color: var(--color-font);
}

.dropdown-item-same-as-active {
  color: var(--color-highlight);
}


.dropdown-negative .dropdown-item-list {
  display: inline-flex;
  flex-direction: column-reverse;
  bottom: 36px;
  position: absolute;
  top: unset;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
}

.dropdown-item-list-active .dropdown-negative {
  max-height: 280px;
  overflow-y: scroll;
  display: inline-flex;
  flex-direction: column-reverse;
  bottom: 36px;
  position: absolute;
}

.dropdown-negative .dropdown-selected-item-active {
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Dropdown Negative Arrow */

/* .dropdown-negative .dropdown-selected-Item:after { */
  /* transform:rotate(180deg); */
  /* top: 8px; */
/* } */
/*  */
/* .dropdown-negative .dropdown-selected-Item.dropdown-selected-item-active:after { */
  /* border-color: transparent transparent var(--color-highlight) transparent; */
  /* top: 16px; */
/* } */
