@import '../../../assets/css/index.css';

.backup-window_bottom_content {
  display: flex;
  justify-content: space-between;
}

.launch_button {
    justify-self: flex-end;
    margin-right: 25px;
}

.launchbutton-container {
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
}

.addNodeItem:hover .icon {
    fill: var(--color-highlight);
}

.backupWindow-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.layerselect-container {
  justify-self: flex-start;
}

