@import '../../../assets/css/index.css';

.launch_button {
    justify-self: flex-end;
}

.launchbutton-container {
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
}

.addNodeItem:hover .icon {
    fill: var(--color-highlight);
}

.backupWindow-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}