@import '../../../assets/css/index.css';

.backup-window_bottom_content {
  display: flex;
  justify-content: space-between;
}

.launch_button {
    justify-self: flex-end;
    margin-right: 25px;
}

.launchbutton-container {
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
}

.button-addBackup:hover .icon {
    fill: var(--color-highlight);
}

.button-selectAllBackups:hover .icon {
  fill: var(--color-button-selectAllBackups);
}

.button-addToLayer:hover .icon {
  fill: var(--color-button-addToLayer);
}

.button-deleteBackup:hover .icon {
  fill: var(--color-button-deleteBackup);
}



.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.layerselect-container {
  justify-self: flex-start;
}

.dropdown-layer {
  z-index: 1000;
}

