.quickinfo {
    min-width: 120px;
    max-width: 250px;
    position: absolute;
    z-index: 1002;
    background-color: var(--color-infobox-background);
    backdrop-filter: var(--blur-default);
    border-radius: var(--border-radius-default);
    padding: 10px 10px;
    user-select: none;
    margin: 10px;
    display: none;
    white-space: pre-wrap;
}

.quickinfo-title {
    color: var(--font-color-second);
    font-size: 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.quickinfo-text {
    color: var(--font-color);
    font-size: 14px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.quickinfo--visible {
    animation-name: quickinfo-vis;
    animation-delay: 1s;
    animation-duration: var(--transition-default);
    animation-fill-mode: forwards;
    display: block;
    opacity: 0;
}

@keyframes quickinfo-vis {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
