:root{
    --color-none: transparent;
    --gray: #111119;
    --lightgray: #21212f;
    --lightgray-31: #313142;
    --lightgray-a: #aaaaaa;
    --lightgray-5f: #5f5f6c;
    --gray-disabled: #3d3d53;
    --dark-gray: #0C0C12;
    --white: #fefefe;
    --smooth-red: #ad3156;
    --green: #28b28d;
    --light-green: #00ffa7;
    --lightyellow: #e6d1ab;
    
 
    /* Theme */
    --color-main: var(--gray);
    --color-second: var(--lightgray);
    --color-darker: var(--dark-gray);
    --color-highlight: var(--green);
    --color-close: var(--smooth-red);
    --color-edit: var(--lightyellow);
    --color-disabled: var(--gray-disabled);


    --font-color: var(--white);
    --font-color-second: var(--lightgray-a);
    --font-color-headlabel:var(--lightgray-5f);
    --font-color-subtext: var(--lightgray-5f);

    --color-icon-default: var(--color-second);
    
    --color-infobox-background: var(--lightgray-31);
    --color-titlebar-background: var(--color-main);

    /* Backup nodes */
    --color-icon-light: var(--font-color-second);
    
    --node-dragable_background: var(--color-none);
    --node-mainsection_background: var(--color-none);
    --node-switchsection_background: var(--color-none);
    --node-nodesection_background: var(--color-none);

}