@import '../../assets/css/defaults/index.css';
.navigation {
    width: 100px;
    height: var(--app-titlebarcalc-height);
    padding-top: 30px;
    top: 0;
    left: 0;
    margin-left: 0px;
    position: absolute;
    /* padding: 0px 10px; */
    background-color: var(--bg-alpha);
}

.navigation-logosection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_container {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* padding-top: 20px; */
}

.item-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    cursor: pointer;
}
.config-button_container {
    width: 100%;
}

.Logo-container{
    margin-top: 10px;
}