@import '../../../assets/css/index.css';

.addWindow-container {
    width: inherit;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    top: 0;
    transition: 0.3s;
    opacity: 1;
}

.addWindow-box {
    width: 70%;
    height: 400px;
    border-radius: var(--border-radius-default);
    background-color: var(--color-third);
    /* outline: var(--default-outline); */
}

.addWindow-titleSection {
    position: absolute;
    width: inherit;
    text-align: center;
    color: var(--font-color);
}

.addWindow-container--disabled {
    opacity: 0;
    top: -100%;
    transition: 0.3s;
    transition-delay: 0.1s;
}
