@import '../../../assets/css/index.css';

.addWindow-container {
    width: inherit;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000055;
    backdrop-filter: var(--blur-default);
}

.addWindow-box {
    width: 70%;
    height: 400px;
    border-radius: var(--border-radius-default);
    background-color: var(--color-main);
    /* outline: var(--default-outline); */
}

.addWindow-titleSection {
    position: absolute;
    width: inherit;
    text-align: center;
    color: var(--font-color);
}

.addWindow-container--disabled {
    display: none;
}
