/* Main CSS file */
/* imports */
@import '../assets/css/index.css';

@font-face {
    font-family: 'headline-default';
    src: url('../../data/App/fonts/headlines/JosefinSans-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'headline-light';
    src: url('../../data/App/fonts/headlines/JosefinSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'headline-medium';
    src: url('../../data/App/fonts/headlines/JosefinSans-Medium.woff2') format('woff2');

}

@font-face {
    font-family: 'headline-italic';
    src: url('../../data/App/fonts/headlines/JosefinSans-Italic-VariableFont_wght.woff2') format('woff2');

}

/* fonts: text */

  @font-face {
    font-family: 'font-default';
    src: url('../../data/App/fonts/Nunito-Light.woff2') format('woff2');


}

@font-face {
    font-family: 'font-medium';
    src: url('../../data/App/fonts/Nunito-Medium.woff2') format('woff2'); /* IE9 Compat Modes */

}

@font-face {
    font-family: 'font-light';
    src: url('../../data/App/fonts/Nunito-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */

}

@font-face {
    font-family: 'font-italic';
    src: url('../../data/App/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */

}

body,* {
    font-family: font-default;
    user-select: none;
}

h1 {
    font-family: 'headline-default';
    font-weight: 100;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-font);
    font-size: var(--fontsize-title) ;
    user-select: none;
    transform: translateY(-20px);
    opacity: 0;
    animation-name: h1-fadeIn;
    animation-duration:var(--transition-slow);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: var(--animation-default);
}

h3 {
  font-family: 'headline-light';
  font-weight: 100;
  padding: 0;
  color: var(--color-font);
  font-size: var(--fontsize-h3) ;
  user-select: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
    font-family: 'headline-medium';
    font-weight: 100;
    padding: 0;
    color: var(--color-font);
    font-size: var(--fontsize-h2) ;
    user-select: none;
}
.main-label {
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-font-headlabel);
    font-weight: bold;
}

.subtext {
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-font-subtext);
}

.version-label{
    width: calc(100% - 50px);
    height: 100%;
    text-align: right;
    padding-top: 20px;
}

@keyframes h1-fadeIn{
    0%{
        transform: translateY(-28px);
        opacity: 0;
    }
   100%{
        transform: unset;
        opacity: 1;
    }
}

.app-container {
    font-family: font-default;
    width: 100%;
    height: 100%;
    position: absolute;
}

.app-background {
    width: 100%;
    height: var(--app-titlebarcalc-height);
    padding-top: 30px;
    background-size: cover;
}

.app-content{
    width: calc(100% - 160px);
    height: var(--app-titlebarcalc-height);
    right: 0px;
    position: absolute;
    overflow: hidden;
}

.appmainwindow {
    padding-left: 50px;
    padding-top: 20px;
    display: none;
    overflow: hidden;
}

.appmainwindow--active {
display: block;

}

.appmainwindow-titlesection {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.appmainwindow-toolbar {
    min-width:120px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.appmainwindow-container {
    transform: translateX(350px);
    opacity: 0;
}

.appmainwindow-container--active {
    animation-name: appmainwindow-fadeIn;
    animation-duration:var(--transition-slow);
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: var(--animation-default);
}

@keyframes appmainwindow-fadeIn {
    0% {
        transform: translateX(350px);
        opacity: 0;
    }
    100% {
        transform: unset;
        opacity: 1;
    }
}

.p-container-10 {
    padding: 10px 0;
}

.appmainwindow-content {
    width: auto;
    height: 390px;
    background-color: var(--color-none);
    margin-top: 30px;
    border-radius: var(--border-radius-default);
    margin-left: 0px;
    margin-right: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--color-font);
    padding: 0px 10px;
}

.appmainwindow-bottomcontent {
    width: auto;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: var(--border-radius-default);
    align-items: center;
}

.button-submit {
    width: 120px;
    height: 40px;
    background-color: var(--color-second);
    font-size: var(--fontsize-default);
}

.button-submit:hover {
    background-color: var(--color-highlight);
}

.button-submit--small {
    width: 80px;
    height: 30px;
    background-color: var(--color-second);
    font-size: var(--fontsize-default);
}

.button-submit--small:hover {
    background-color: var(--color-highlight);
}

.mybackuplogo_cl1 {
    fill: var(--color-font);
}

.clickMenu-box {
    min-width: 20px;
    min-height: 10px;
    position: absolute;
    background-color: var(--color-main);
    border-radius: var(--border-radius-default);
    right: 0;
    margin-top: -30px;
    margin-right: 70px;
    float: right;
    transition: var(--transition-default);
    display: none;
    z-index: 1200;
    overflow: hidden;
}

.clickMenu-box--visible {
    display: block;
}

.clickMenu-item {
    width: 120px;
    height: 20px;
    padding: 5px;
    transition: var(--transition-default);
    cursor: pointer;
}

.clickMenu-item label {
    user-select: none;
    pointer-events: none;
    font-size: var(--fontsize-navitem);
}

.clickMenu-item:hover {
    background-color: var(--color-highlight);
}

.clickMenu-item-red:hover {
    background-color: var(--color-close);
}

.icon {
  fill: var(--color-icon-default);
  transition: var(--transition-default);
}

.editmode {
    outline: 1px dashed var(--color-highlight);
    filter: contrast(0.8);
}

.divtextedit {
    -webkit-user-modify: read-write;
    outline: none;
    color: var(--color-edit) !Important;
}

.addNodeItem {
    width: 25px;
    height: 25px;
}

.infobox {
    background-color: var(--color-infobox-background);
    padding: 10px;
    font-size: 12px;
    border-radius: var(--border-radius-default)
}
