/* Main CSS file */
/* imports */
@import '../assets/css/defaults/index.css';

/* fonts: headlines */

@font-face {
    font-family: 'headline-default';
    src: url('../../data/fonts/headlines/JosefinSans-Light.woff2') format('woff2'); /* IE9 Compat Modes */
    
}
  
@font-face {
    font-family: 'headline-medium';
    src: url('../../data/fonts/headlines/JosefinSans-Medium.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

@font-face {
    font-family: 'headline-italic';
    src: url('../../data/fonts/headlines/JosefinSans-Italic-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

/* fonts: text */

  @font-face {
    font-family: 'font-default';
    src: url('../../data/fonts/Nunito-Light.woff2') format('woff2');
   
    
}

@font-face {
    font-family: 'font-medium';
    src: url('../../data/fonts/Nunito-Medium.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

@font-face {
    font-family: 'font-light';
    src: url('../../data/fonts/Nunito-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

@font-face {
    font-family: 'font-italic';
    src: url('../../data/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */
    
}


body,* {
    font-family: font-default;
}

h1 {
    font-family: 'headline-default';
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.app-container {
    font-family: font-default;
    width: 100%;
    height: 100%;
    position: absolute;
}

.app-background {
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.app-content{
    width: calc(100% - 120px);
    height: 100%;
    right: 0px;
    position: absolute;
}
