/* Main CSS file */
/* imports */
@import '../assets/css/defaults/index.css';

/* fonts: headlines */

@font-face {
    font-family: 'headline-default';
    src: url('../../data/fonts/headlines/JosefinSans-Light.woff2') format('woff2'); /* IE9 Compat Modes */
    
}
  
@font-face {
    font-family: 'headline-medium';
    src: url('../../data/fonts/headlines/JosefinSans-Medium.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

@font-face {
    font-family: 'headline-italic';
    src: url('../../data/fonts/headlines/JosefinSans-Italic-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

/* fonts: text */

  @font-face {
    font-family: 'font-default';
    src: url('../../data/fonts/Nunito-Light.woff2') format('woff2');
   
    
}

@font-face {
    font-family: 'font-medium';
    src: url('../../data/fonts/Nunito-Medium.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

@font-face {
    font-family: 'font-light';
    src: url('../../data/fonts/Nunito-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */
    
}

@font-face {
    font-family: 'font-italic';
    src: url('../../data/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2'); /* IE9 Compat Modes */
    
}


body,* {
    font-family: font-default;
}

h1 {
    font-family: 'headline-default';
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    color: var(--font-color);
    font-size: 30px;
    user-select: none;
}
.app-container {
    font-family: font-default;
    width: 100%;
    height: 100%;
    position: absolute;
}

.app-background {
    width: 100%;
    height: var(--app-titlebarcalc-height);
    padding-top: 30px;
    background-size: cover;
}

.app-content{
    width: calc(100% - 100px);
    height: var(--app-titlebarcalc-height);
    right: 0px;
    position: absolute;
}

.appmainwindow-content {
    width: 740px;
    height: 340px;
    background-color: var(--bg-alpha);
    margin-top: 30px;
    border-radius: var(--default-border-radius);
    margin-left: 30px;
    margin-right: 80px;
    overflow: hidden;
}

.appmainwindow-bottomcontent {
    width: 740px;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: var(--default-border-radius);
    background-color: var(--bg-alpha);
    overflow: hidden;
}

.button-submit {
    width: 160px;
    height: 50px;
    background-color: var(--secondcolor);
    transition: var(--default-transition);
}

.button-submit:hover {
    background-color: var(--highlight);
}