:root{
    --color-none: transparent;
    --gray: #111119;
    --lightgray2: #2f2f46;
    --lightgray: #a2a2ec22;
    --white: #fefefe;
    --bg-alpha: #00000044;
    --bg-titlebar: #0b0b10;
    --smooth-red: #ad3156;
    --highlight: #28b28d;
 
    --color-low: #aaaaaa;
    --maincolor: var(--gray);
    --secondcolor: var(--lightgray);
    --font-color: var(--white);
    --color-disabled: #3d3d53;

    /* Backup nodes */
    --node-dragable_background: var(--color-none);
    --node-mainsection_background: var(--color-none);
    --node-switchsection_background: var(--color-none);
    --node-nodesection_background: var(--color-none);
}