.Item-Card {
  margin: 8px;
  border-radius: var(--border-radius-default);
  overflow: hidden;
  height: 200px;
  width: 164px;
  background-color: var(--color-second);
  transition: var(--transition-default);
  outline: 1px solid #00000000;
}

.Item-Card:hover {
  box-shadow: 0px 0px 16px #00000099;
  transform: scale(1.01);
  outline: 1px solid var(--color-highlight);
}

.Item-Card-active:hover {
  outline: 1px solid var(--color-none);
}

.Item-Card-MainContainer {
  height: inherit;
}

.Item-Card:hover .Item-Card-Icon-container .icon{
  fill: var(--color-font);
}

.Item-Card-TopBar {
  width: calc(100% - 12px);
  justify-content: space-between;
  padding: 6px;
}

.Item-Card-dragable-container {
  cursor: move;
}

.Item-Card-dragable-container .icon {
  fill: var(--color-icon-light);
}


.Item-Card-Icon-container {
  width: 100%;
  padding: 10px 0px;
}

.Item-Card-Title-container {
  width: calc(100% - 40px);
  padding: 0px 20px;
  text-align: center;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
}

h3 {
  vertical-align: top;
}

.Item-Card-Information-container {
  width: 100%;
  padding-top: 4px;
}

.Item-Card-active{
  transform: scale(1.01);
  outline: 1px solid var(--color-none);
  box-shadow: 0px 0px 16px #00000099;
  width: calc(100% - 80px);
  /* grid-column: 1 / 5; */
  height: inherit;
  position: fixed;
  z-index: 100;
  top: -10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr 4fr);
}

.Item-Card-active .bCheckbox {
  display: none;
}

.Item-Card-active .Item-Card-TopBar {
  display: none;
}

.Item-Card-active .Item-Card-Icon-container {
  padding: 20px;
  margin: 20px;
  width: fit-content;
  background-color: var(--color-third);
  border-radius: var(--border-radius-default);
}

.Item-Card-active .Item-Card-Title-container {
  width: calc(100% - 40px);
  padding: 0px;
  text-align: left;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  margin: 0px 20px;
  max-width: 120px;
}

.Item-Card-active .subtext {
  width: 100%;
  max-width: 120px;
  margin: 0px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

