@import '../../../assets/css/index.css';

.nav-item{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px;
    cursor: pointer;
}

.nav-item:hover{
    background-color: var(--color-second);
}

.nav-item_bar{
    width: 2px;
    height: 0px;
    background-color: var(--color-highlight);
    position: absolute;
    margin-left: 158px;
    transition: var(--transition-default);
    border-radius: var(--border-radius-default);
    opacity: 0;
}

/* .nav-item:hover .nav-item_bar{ */
/* height: 20px; */
/* opacity: 1; */
/* } */

.nav-item .icon {
    transition: var(--transition-default);
}

.nav-item:hover .icon {
    fill: var(--color-highlight);
}

.nav-item_bar--active{
    height: 60px;
}

.nav-item_icon{
    width: 25px;
    height: 25px;
    user-select: none;
    cursor: pointer;
}

.nav-item_label{
    padding-top: 10px;
    user-select:none;
    font-size: var(--fontsize-default);
    cursor: pointer;
    color: var(--color-font-second);
    transition: var(--transition-default);
}

.nav-item:hover .nav-item_label {
    color: var(--color-font);
}

.nav-item--active .nav-item_bar {
    height: 80px;
    opacity: 1;
}

.nav-item--active .icon {
fill: var(--color-highlight);
}

.nav-item--active .nav-item_label {
    color: var(--color-font);
}
