@import '../../../assets/css/defaults/index.css';

.nav-item{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px;
    cursor: pointer;
}

.nav-item:hover{
    background-color: var(--lightgray);
}

.nav-item_bar{
    width: 2px;
    height: 0px;
    background-color: #00ffa7;
    position: absolute;
    margin-left: 98px;
    transition: var(--default-transition);
    border-radius: var(--default-border-radius);
    opacity: 0;
}

/* .nav-item:hover .nav-item_bar{ */
/* height: 20px; */
/* opacity: 1; */
/* } */

.nav-item .icon {
    transition: var(--default-transition);
}

.nav-item:hover .icon {
    fill: var(--highlight);
}

.nav-item_bar--active{
    height: 60px;
}

.nav-item_icon{
    width: 30px;
    height: 30px;
    user-select: none;
    cursor: pointer;
}

.nav-item_label{
    padding-top: 10px;
    user-select:none;
    font-size: 12px;
    cursor: pointer;
    color: var(--color-low);
    transition: var(--default-transition);
}

.nav-item:hover .nav-item_label {
    color: var(--font-color);
}

.nav-item--active .nav-item_bar {
    height: 80px;
    opacity: 1;
}

.nav-item--active .icon {
fill: var(--highlight);
}

.nav-item--active .nav-item_label {
    color: var(--font-color);
}